  <div class="container">
    <div class="row">
      <div class="span10">
        <ul class="bottom-links">
          {{#if isLoggedIn}}
            <li><a href="/logout" class="app">Log Out</a></li>
          {{else}}
            <li><a href="/login" class="app">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>