<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div class="span12 centered">
      <form>
        <fieldset>
          <legend>Create A New Page</legend>
          <label class="control-label" for="name">Page Title</label>
          <input type="text" id="name" name="name" placeholder="Untitled Page" value="{{page.name}}">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>
