<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    {{#if page.id}}
    <div class="span2 offset4 centered">
      <div id="uploadFileLink">
        <p>
          <a href="#" class="filepicker">
            <img class="flatIcon" src="/img/file_upload.png" alt="upload-file" />
          </a>
        </p>
        <p>
          <a href="#" class="filepicker btn btn-success">Upload File</a>
        </p>
      </div>
    </div>
    <div class="span2 centered">
      <div id="pickFileLink">
        <p>
          <a href="{{pickMediaUrl}}" class="app">
            <img class="flatIcon" src="/img/folder.png" alt="pick-file" />
          </a>
        </p>
        <p>
          <a href="{{pickMediaUrl}}" class="useExisting btn btn-info app">Use Existing</a>
        </p>
      </div>
    </div>
    {{/if}}
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>
