<div class="container">
  <div id="header">
  </div>
  <div id="content" class="row">
    <div class="span12 centered">
      <table class="table">
        <thead>
          <tr>
            <th>File</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each unprocessed}}
            <tr>
              <td><big>{{name}}</big></td>
              <td><big>{{reviewIssue}}</big></td>
            </tr>
          {{/each}}
          {{#if nothingToReview}}
            <tr>
              <td colspan="2">All uploads processed!</td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="footer" class="bottom-menu">
</div>